<!DOCTYPE html>
<html lang="en">
<head>
    <title>Lookapp</title>
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => false %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
    <h1 class="text-center"><%= link_to 'e-Travel DNS lookup service', root_path %></h1>
    <%= yield %>
</div>

</body>
</html>
