<% if flash[:error] %>
    <div class="flash bg-danger">
        <%= flash[:error] %>
    </div>
<% end %>

<div class="panel panel-default">
    <div class="panel-body">
        <div id="lookup-form" class="row">
            <div class="col-md-4">
            <%= form_tag(lookup_index_path, :method => 'post', :class => 'form-horizontal') do %>
                <div class="form-group">
                    <%= label_tag(:e_travel_dns, "Ask using: ") %>
                    <%= select_tag(:e_travel_dns, options_for_select(@dns_server_list, params[:e_travel_dns].presence || @dns_server_list.first), :class => 'form-control') %>
                </div>

                <div class="form-group">
                    <%= label_tag(:e_travel_host, "Host: ") %>
                    <%= text_field_tag(:e_travel_host, nil, :class => 'form-control') %>
                </div>

                <%= submit_tag("lookup", :class => "btn btn-success") %>
            <% end %>
            </div>
        </div>
    </div>
</div>

<div class="response">
    <% if @dns_response.present? %>
        <%= render 'dns_response', :dns_response => @dns_response %>
    <% end %>
</div>
